<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luoxishuang.genshinnotedata">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GenshinNoteData">
        <service
            android:name=".widgetUpdateService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter android:priority="1000" >
                <action android:name="com.luoxishuang.genshinnotedata.widgetUpdateService" />
            </intent-filter>
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GenshinNoteData.NoActionBar"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".calcResin"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GenshinNoteData.NoActionBar">
        </activity>
        <activity
            android:name=".AddCharacter"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GenshinNoteData.NoActionBar">
        </activity>
        <activity
            android:name=".InfoDetail"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GenshinNoteData.NoActionBar">
        </activity>
        <activity
            android:name=".widgetAddChar"
            android:exported="true"
            android:label="GenshinNoteData"
            android:theme="@style/Theme.GenshinNoteData.NoActionBar">
        </activity>
        <activity android:name=".settingActivity"
            android:exported="true"
            android:label="GenshinNoteData"
            android:theme="@style/Theme.GenshinNoteData.NoActionBar">
        </activity>
        <receiver android:name=".WidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.luoxishuang.appwidgettest" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name=".WidgetFullProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.luoxishuang.appwidgettest" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_full_info" />
        </receiver>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>
</manifest>